.navbarCustom {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: #c1c1c1;
  color: #000000;
}

.navbarCustom .navbarBrand {
  padding-left: 2vw;
  font-weight: 700;
}

.navbarCustom .navLink {
  color: #000000;
  transition: background-color 0.5s ease; /* Add transition for smooth effect */
}

.navbarCustom .navLink:hover {
  background-color: #e9ecef; /* Change background color on hover */
}
